{% load static %}
<!----------------------------------- Footer ------------------------------------------->
<footer>
    <div class="custom_container">
        <div class="footer_main">
            <div class="footer_content_section">
                <div class="footer_log">
                    <a href="/">
                    <img src="https://images-beta.tossdown.com/site/b6302efa-ba1b-4342-a95e-9576183af3ff.webp">
                    </a>
                </div>
                <div class="footer_nav_box">
                    <a href="#">Home</a> 
                    <a href="#">Download App</a> 
                    <a href="#">About</a> 
                    <a href="#">Login</a>
                    <a href="#">privacy policy</a>
                    <a href="#">FAQ's</a>
                </div>
                <div class="footer_social_links">
                    <a href="#" target="blank" style="background: #103F8B; text-decoration: none; background-color: black;">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>